ul{
  list-style-type: none;
  padding: 0;
}

li{
  float: left;
  width: 420px;
  margin: 9px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  min-height: 150px;
  background-color: #3C4B57;
  color: white;
}

.loader{
  width:.5em;
  height:.5em;
}
